/* 외부 스타일시트 */

/* 태그 선택자 */
h1 {font-family:"상상토끼 꽃길"; font-size: 30pt; text-align: center;}
footer {font-size: 10pt; margin-top: 60px; text-align: center; }
h3 {font-family: "타이포_크레파스 M", "Cooper Blk BT"; font-size: 15pt; text-align: center;}
table {width: 500px; height: 350px; table-layout: fixed; }
/* 아이디 선택자 */
#b1 {position: absolute; top: 20px; right: 20px; }
#showColor {width: 490px; height: 340px;}
#b2 {position: absolute; top: 520px; right: 618px;}
/* 각 색상 버튼에 해당하는 스타일 설정: 위치 */
#b_red {position: absolute; top: 200px; right: 925px;}
#b_ora {position: absolute; top: 270px; right: 925px;}
#b_yel {position: absolute; top: 340px; right: 925px;}
#b_gre {position: absolute; top: 410px; right: 925px;}
#b_blu {position: absolute; top: 200px; right: 310px;}
#b_pur {position: absolute; top: 270px; right: 310px;}
#b_pin {position: absolute; top: 340px; right: 310px;}
#b_bla {position: absolute; top: 410px; right: 310px;}

